upstream {{ application_username }}_wsgi_server {
  # fail_timeout=0 means we always retry an upstream even if it failed
  # to return a good HTTP response (in case the Unicorn master nukes a
  # single worker for timing out).

  server unix:{{ project_path }}/run/gunicorn.sock fail_timeout=0;
}

server {
    listen 80;
    server_name {{ nginx_server_name }} www.{{nginx_server_name}};
    return 301 https://{{nginx_server_name}}$request_uri;
}


server {
    listen      443 ssl;

    server_name         {{ nginx_server_name }};

    ssl_certificate {{ project_path }}/certs/fullchain.pem;
    ssl_certificate_key {{ project_path }}/certs/privkey.pem;

    client_max_body_size 4G;

    access_log {{ nginx_access_log_file }};
    error_log {{ nginx_error_log_file }};

    location /media/ {
        root {{ project_path }}/;
    }

    location /favicon.ico {
        root {{ project_path }}/app/static/images/;
    }

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        # /* proxy_set_header X-Forwarded-Proto https; */
        proxy_set_header Host $http_host;
        proxy_redirect off;

        proxy_pass http://{{ application_username }}_wsgi_server;
        break;
    }
}
