{% extends "base_sidebar.html" %}
{% block splash %} SSIP Minutes{% endblock %}

{% block content %}

{% for minutes_entry in minutes_entry_list %}
<div class="news-entry">
    <article class="panel-body">
        <h3>{{ minutes_entry.title|safe }} <span class="text-muted">{% if minutes_entry.author %} by {{ minutes_entry.author }} {% endif %}</h3> 
        <p class="post-date"><span class="glyphicon glyphicon-calendar"></span> {{ minutes_entry.created|date:"F jS, Y" }}</p>
        {{ minutes_entry.text|safe }}
    </article>
</div>
{% endfor %}
{% endblock %}
