{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}ssip3{% endblock title %}</title>
    {% block meta %}
    <meta name="description" content="SSIP 209 - Settled and Serving in Place Information Website."> 
    <meta name="keywords" content="ssip 209,ssip,settled and serving in place,marbletown,kingston,stoneridge,neighbors,neighborhood,settled and serving,community"> 
    <meta name="author" content="SSIP 209">
    {% endblock %}
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    {% endblock %}
    {% block extra_css %}
    {% endblock %}
  </head>

  <body>
    <header class="main-header">
      <div class="container-fluid">
        <div class="row main-nav">
          <div class="col-sm-12">
            <div class="container">
              <div class="logo">
                  <img src="{% static 'images/ssiplogo-small-2.png' %}" alt="SSIP 209 Logo">
              </div>
              {% block nav %}
              <nav>
                  <ul>
                      <li><a href="{% url 'home' %}">Home</a></li>
                      <li><a href="{% url 'members:member_list' %}">Members</a></li>
                      {% comment %}
                      <li><a href="{% url 'pages:page-detail' "about" %}">About SSIP</a></li>
                      <li><a href="{% url 'pages:page-detail' "services" %}">Service Providers</a></li>
                      <li><a href="{% url 'pages:page-detail' "newsletter" %}">Newsletter</a></li>
                      {% endcomment %}
                  </ul>
              </nav>
              {% endblock nav %}
            </div>
          </div>
        </div>
        <div class="row main-title">
          <div class="col-sm-12">
            <div class="container">
              <div class="page-title">
                  <h1> {% block splash %} {% endblock splash %}  </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    {% block msg %}
        {% if messages %}
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <hr>
                {% for message in messages %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endfor %}
                <hr>
            </div>
        </div><!-- /container -->
        {% endif %}
    {% endblock %}

    {% block content_wrapper %}
    <div class="container">
      <section class="main-content">
        {% block content %}
        <h3> section heading </h3>
        <p>Consectetur perferendis magni voluptatem eaque nihil. Explicabo quidem pariatur assumenda iusto facilis vitae? Deserunt blanditiis ullam vitae obcaecati explicabo repellendus laboriosam! Recusandae id reprehenderit quibusdam accusantium iure quos facere vel incidunt, vero suscipit ipsa. Placeat quibusdam repellat illum qui a perferendis. Saepe praesentium ex optio aperiam dolorum quo. Incidunt veritatis.</p>
        <p>Sit amet modi modi repellat voluptatem doloremque illo. Doloremque molestiae possimus sit fuga voluptatum consequuntur nisi qui mollitia porro! Voluptatibus dicta velit consequatur consectetur quos voluptatem, harum. Ipsa consequuntur error labore facilis reiciendis culpa qui? Aspernatur vitae molestiae quibusdam quaerat voluptate? Rerum quasi sit similique accusamus deserunt sapiente fuga id perspiciatis? Nemo cupiditate voluptatibus at illo autem! Expedita similique ullam nobis dignissimos voluptatem, repellat exercitationem? Iste ex officia eum nesciunt autem ipsum perferendis. Modi esse.</p>
        <p>Sit eum repudiandae saepe suscipit quibusdam. Beatae inventore odio placeat veniam fugit amet! Consequuntur labore rerum perferendis eaque cupiditate ullam reprehenderit ad? Quae quaerat accusamus necessitatibus fugit doloremque, accusantium facere!</p>
      </section>
        {% endblock content %}
    </div>
    {% endblock content_wrapper %}

    {% block footer %}
    <footer>
      <img src="{% static 'images/ssiplogo-small-2.png' %}" alt="SSIP 209 Logo">
      <p>© SSIP 209 - Settled and Serving in Place, 2011-2015.</p>
      <p>Design by Max Shkurygin</p>
    </footer>
    {% endblock footer %}

    {% block javascript %}
      <script src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}

    {% block javascript_extra %}
    {% endblock javascript_extra %}
  </body>
</html>
 
